
.links {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1;
}

.nodes {
  stroke: #fff;
  stroke-width: 1.5px;
}

#div1 {
	display: inline-block;
	vertical-align: top;
	max-width: 50%;
	max-height:300px;
	margin: 10px;
	overflow: auto;
	padding: 12px;
}

#div2 {
	display: inline-block;
	vertical-align: top;
	max-width: 50%;
	max-height:300px;
	margin:10px;
	overflow: auto;
	padding: 12px;
}

.table {
	border-collapse: collapse;
	border: 2px black solid;

}

.cells {
	border: 1px black solid;
    	padding: 5px;
}

.rows:hover {
	background-color: #D1F7FF;
}


th{
	border: 1px black solid;
    	padding: 5px;
	padding-top: 12px;
    	padding-bottom: 12px;
    	text-align: left;
    	background-color: #299DB6;
    	color: white;
	position:static;
}

.selected {
  background-color: #84a9d7;
  color: white;
}
text.selected {
  font-weight: bold;
}

.rowSelected {
 background-color: red;
}

.nodeSelected {
  stroke: #f00a0a;
  stroke-width: 10px;
}

.linkSelected {
 stroke: #f00;
 stroke-opacity: 0.6;
 stroke-width: 2;
}

