
.links {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1.5;
}

.nodes {
  stroke: #fff;
  stroke-width: 1.5px;
}

#div_svg {
	float:left;
	max-width:80%;
}


#div1 {
	vertical-align: top;
	max-height:300px;
	max-width:100%;
	margin-top: 10px;
	overflow: auto;
}

#div2 {
	display:inline-block;
	float:left;
	max-height:650px;
	max-width:20%;
	margin-left:10px;
	overflow: auto;
}

.table {
	border-collapse: collapse;
	border: 2px black solid;

}

.cells {
	border: 1px black solid;
    	padding: 5px;
}

.rows:hover {
	background-color: #D1F7FF;
}


th{
	border: 1px black solid;
    	padding: 5px;
	padding-top: 12px;
    	padding-bottom: 12px;
    	text-align: left;
    	background-color: #299DB6;
    	color: white;
	position:static;
}

/*node*/

.NodeRowSelected {
 background-color: #34d7d7;
}

.NodeRowSelected:hover {
 background-color: #19ecec;
}

.NodeRowSelectedByEdgeSource {
 background-color: #16ec73;
}

.NodeRowSelectedByEdgeTarget {
 background-color: #ff2703;
}

.nodeSelected {
  fill: #34d7d7;
  stroke: #34d7d7;
  stroke-width: 1.5px;
}

.NodeSelectedByEdgeSource {
  fill: #16ec73;
  stroke: #16ec73;
  stroke-width: 1.5px;
}

.NodeSelectedByEdgeTarget {
  fill: #ff2703;
  stroke: #ff2703;
  stroke-width: 1.5px;
}

/*edge*/

.EdgeRowSelected {
 background-color: #34d7d7;
}

.EdgeRowSelected:hover {
 background-color: #19ecec;
}

.EdgeRowSelectedByNodeSource {
 background-color: #16ec73;
}

.EdgeRowSelectedByNodeTarget {
 background-color: #ff2703;
}


.linkSelected {
 stroke: #34d7d7;
 stroke-opacity: 0.6;
 stroke-width: 1.5;
}

.linkSelectedByNodeSource {
 stroke: #16ec73;
 stroke-opacity: 0.6;
 stroke-width: 1.5;
}

.linkSelectedByNodeTarget {
 stroke: #ff2703;
 stroke-opacity: 0.6;
 stroke-width: 1.5;
}




